 <!-- footer section -->
 <footer class="navbar navbar-expand-md navbar-dark fixed-bottom bg-dark footer-container" id="foot" style="display: flex; justify-content: center;">
    <ul class="navbar-nav justify-content-center me-auto me-sm-2">
      <!-- <li class="nav-item"><a class="nav-link px-2 text-muted">© Breakmates</a></li> -->
      <li><a href="#" id="text4">© Breakmates &nbsp;</a></li>
      <li><a href="/" id="text4">HOME &nbsp;</a></li>
      <li><a href="/about" id="text4">ABOUT &nbsp;</a></li>
      <li><a href="/contact" id="text5">CONTACT &nbsp;</a></li>
    </ul>
   </footer>
</body>
</html>