<%- include("./partials/nav.ejs") %>
<main class="container content-container">

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Breakmates - Where Adventures Begin!</h1>
        <br>
        <p>Breakmates is your go-to platform for connecting with university students and alumni to plan and experience unforgettable adventures during academic breaks. Dive into a world of exciting trips, shared experiences, and lifelong friendships. Join a community of adventurers who are redefining the way students and alumni travel.</p>
        <br>
        <p>Check out the Connections section to browse available trips</p>
    </div>
</div>

</main>

<%- include('partials/footer') %>
