<%- include("../partials/nav.ejs") %>
<main class="container content-container">

<div class="jumbotron">
    <%- include("../partials/flashMsgs.ejs") %>
    <div class="container">
        <h1 class="display-4">About us!</h1>
        <br>
        <h3> Our story </h3>
        <p>At Breakmates, we believe that academic breaks should be more than just a pause from your studies; they should be opportunities for exploration, adventure, and connection. Our journey began with a simple idea: to create a platform that brings students and alumni from universities together to share incredible travel experiences during these breaks.</p>
        <br>
        <h3> Join Us Today </h3>
        <p>Ready to start your adventure with Breakmates? Join our community of explorers, connect with fellow students and alumni, and embark on unforgettable journeys during your academic breaks. Together, we'll create memories that last a lifetime.        </p>
        <h3> Our Team </h3>
        <p>Jordan Ryan Gona: jgona@uncc.edu</p>
        <p>Shanker Jaina: sjaina@uncc.edu</p>
    </div>
</div>

</main>
<%- include('../partials/footer') %>
