<%- include("../partials/nav.ejs") %>

<div class="container">
    <h1 class="display-4">Contact us!</h1>
    <br>
    <h3> Our Team </h3>
    <p>Jordan Ryan Gona: jgona@uncc.edu</p>
    <p>Shanker Jaina: sjaina@uncc.edu</p>
</div>
<%- include('../partials/footer') %>